<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">
      <!-- Chat Messages -->
      <app-chat-message
        text="Escribe el texto que quieres que revise"
      />

      <app-my-message
        text="Hola mundo"
      />

      <app-typing-loader />
    </div>
  </div>
  <!-- MessageBox -->

  <!--
  <app-text-messages-box
    placeholder="Escribe aquí lo que desees"
    (onMessage)="handleMessage($event)"
  />
  -->

  <!--
  <app-text-messages-box-file
    placeholder="Escribe aquí lo que desees"
    (onMessage)="handleMessageWithFile($event)"
  />
  -->
  <app-text-messages-box-select
    placeholder="Escribe aquí lo que desees"
    [options]="[{id:'1', text: '1'}, {id:'2', text: '2'}]"
    (onMessage)="handleMessageWithSelect($event)"
  />
</div>
